$inspiration-block-color-primary: $block-background1;
$inspiration-block-color-secondary: $block-background2;
$inspiration-block-color-tertiary: $block-background3;
$inspiration-block-color-text-secondary: rgba($block-background2, .75);

.inspirational-block {
    display: flex;
    flex-direction: column;
    margin: 0; //rem(20px) 0;

    font-size: 18px;
    font-weight: 300;

    h2 {
        font-size: rem(32px);
    }

    h3 {
        font-size: rem(26px);
    }

    h4 {
        font-size: rem(24px);
    }

    @include mobile {
        max-height: none;

        h2 {
            font-size: rem(28px);
        }

        h3 {
            font-size: rem(24px);
        }

        h4 {
            font-size: rem(20px);
        }
    }

    &.primaryColor, &.color__primary {
        background-color: $inspiration-block-color-primary;
    }

    &.secondaryColor, &.color__secondary {
        background-color: $inspiration-block-color-secondary;
    }

    &.thirdColor, &.color__tertiary {
        background-color: $inspiration-block-color-tertiary;
    }

    &__title {
        font-size: $fontsize-h2;
        color: $solution-color;

        &.white {
            color: $color-white;
        }
    }

    &__subtitle {
        font-size: rem(20px);
        color: $inspiration-block-color-text-secondary;
        /*font-weight: $font-weight-extra-bold;*/
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
    }

    &__text {
        max-height: 75%;
        overflow: hidden;

        @include mobile {
            max-height: none;
        }

        li {
            list-style-type: disc;
            margin-left: 1.2rem;
            /*font-weight: $font-weight-black;*/
        }

        p {
            /*font-size: $fontsize-base;*/
        }

        &.white {
            color: $color-white;
        }
    }


    &__button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 2rem auto !important;

        /*.primaryButton {
            min-width: rem(212px);
            min-height: 3.125rem;
            width: auto;
            height: rem(44px);
            border-radius: rem(40px);
            border: 2px solid #848419;
            color: $column-text-color;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;*/
            /*font-weight: $font-weight-bold;*/
            /*background-color: #848419;
        }*/

        .secondaryButton {
            min-width: rem(212px);
            width: auto;
            height: rem(44px);
            border-radius: rem(50px);
            padding: 0.5rem 1rem;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            /*font-weight: $font-weight-bold;*/
        }

        .thirdButton {
            min-width: rem(212px);
            width: auto;
            height: rem(44px);
            border-radius: rem(50px);
            border: 2px solid $color-white;
            padding: 0.5rem 1rem;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            /*font-weight: $font-weight-bold;*/
        }
    }

    &__item {
        &, &-reverse {
            max-height: 40rem;
            min-height: 30rem;
            display: flex;

            @include mobile {
                display: block;
                max-height: none;
                min-height: 0;
            }
        }
    }

    &__item-reverse {
        flex-direction: row-reverse;
    }

    &__item {
        flex-direction: row;
    }

    &__image-wrapper {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.negativeMargin {
            margin-top: rem(-60px);

            @include mobile {
                margin-top: 0;
            }
        }
    }

    &__sectionleft {
        padding: 2rem;
        min-width: 50%;
        max-width: 50%;
        max-height: 40rem;
        min-height: 30rem;

        @include mobile {
            min-width: 100%;
            max-width: 100%;
            max-height: none;
            min-height: 0;
            padding: rem(12px 24px);
        }

        &.extra-padding {
            padding: rem(90px);

            @include mobile-tablet {
                padding: rem(16px 32px);
            }
        }
    }

    &__sectionright {
        min-height: 26rem;
        min-width: 50%;
        max-width: 50%;
        margin: 0;
        max-height: 40rem;
        min-height: 30rem;

        &__text-only {
            padding: 3rem;
            background-color: $solution-background-primary;
            width: 100%;
            height: 100%;

            p {
                color: $color-white;
            }

            li {
                color: $color-white;
            }
        }

        @include mobile {
            min-width: 100%;
            max-width: 100%;
            max-height: none;
            min-height: 0;
        }
    }
}
