
.generic-grid-view {
    &__button-field {
        &-container {
            position: relative;
            margin: 0;
            padding: 0;

            > div {
                display: inline;
            }
        }

        &-button {
            float: right;
            margin: rem(0 0 0 4px);
            i{
                font-size: rem(20px);
                cursor: pointer;
            }
        }

        &-description {
            font-size: rem(10px);
            font-family: Arial, Tahoma;
            min-width: 50%;
            max-width: 150px;
        }

        &-post-button {
            @include generalGridViewButton;
        }
    }
}
