$selectorHeight: auto;
$selectorMobileHeight: auto;
$selectorFontSize: 10px;
$selectorFontWeigt: 400;
$selectorMarginLeft: 0;
$selectorPositionLeft: auto;
$selectorPositionRight: 0;
$selectorPositionTop: 4px;
$selectorPositionBottom: auto;
$selectorPadding: 0;
$selectorBorder: none;
$selectorBg: $color-white;
$selectorItemPadding: 2px 8px;
$selectorItemColor: $color-black;
$selectorItemBg: transparent;
$selectorItemSelectedColor: $color-white;
$selectorItemSelectedBg: $color-black;
$selectorItemHoverColor: $selectorItemColor;
$selectorItemHoverBg: $color-grey-lighter;
$selectorMinWidth: 155px;
$selectorItemFontSize: 10px;
$selectorItemMargin: 0;
$selectorItemBorder: 1px solid $color-grey-lighter;
$selectorItemLineHeight: rem(21px);
$selectorShowOnHover: false;
$selectorToUpperCase: true;
$selectorShadowColor: rgb(46,46,80);
$selectorActiveBackground: $block-background2;
//@include dropdown-selector($selectorHeight,$selectorMobileHeight, $selectorFontSize, $selectorFontWeigt, $selectorMarginLeft, $selectorPositionLeft, $selectorPositionRight, $selectorPositionTop, $selectorPositionBottom, $selectorPadding, $selectorBorder, $selectorBg, $selectorItemPadding, $selectorItemColor, $selectorItemBg, $selectorItemHoverColor, $selectorItemHoverBg, $selectorMinWidth, $selectorItemFontSize,$selectorItemMargin, $selectorItemBorder, $selectorItemSelectedColor, $selectorItemSelectedBg, $selectorToUpperCase, $selectorItemLineHeight, $selectorShowOnHover)
@include dropdown-selector-function(grid, false, $selectorShadowColor); 