
.row {
    max-width: rem($page-width);

    .row {
        &.collapse {
            .column, .columns {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}
.pn-page__wrapper{
    position: relative;
    z-index: 10;
}

.main-content {
    position: relative;
    z-index: 2;
    padding-top: rem(20px);

    @include mobile {
        overflow-x: hidden;
    }
}

section[data-litium-block-id] {
    @include animation(0, 0.5s, fade-in, ease-in-out);
}

.pn-blockquote {
    font-style: italic;
    position: relative;
    padding-left: rem(24px);
    padding-right: rem(24px);
    text-align: center;
    margin-left: 0;
    margin-right: 0;

    p {
        display: inline-block;
    }

    &-quote {
        position: relative;
        display: inline-block;
        margin: rem(-6px 6px 0 0);

        &, &--right {
            position: relative;
            display: inline-block;
            font-size: rem(44px);
            position: absolute;
            left: rem(-6px);
            top: rem(-6px);

            @mobile {
                font-size: rem( 32px);
                right: rem(-6px);
                bottom: rem(-6px);
            }
        }

        &--right {
            margin: rem(6px 0 0 6px);
        }
    }
    /*&:before, &:after {
        display: inline-block;
        line-height: 1;
        height: 1.5rem;
        content: "\201C";
        font-size: rem(44px);
        position: absolute;
        top: -.5rem;
        left: 0px;
        color: rgba(255, 255, 255, 0.8);
        opacity: .7;
    }

    &:after {
        content: "\201D";
        top: auto;
        left: auto;
        right: 0px;
        bottom: -.5rem;
    }*/
    @include mobile {
        /*&:before, &:after {
            font-size: rem(32px);
        }*/
    }
}
