/*
    LITIUM
*/
$litium-blue1: #f59e42;
$litium-blue_link: #f56942;

/* font-family */
$font-family: Lato, Helvetica, Roboto, Arial, sans-serif;
$font-family-condensed: 'Barlow Condensed', sans-serif;

/* Colors */
$color-black: #333 !default;
$color-black-light: #404040 !default;
$color-black-lighter: #565656 !default;

$color-white: #fff !default;
$color-white-dark: #fbfbfb !default;

$color-primary: #111 !default;
$color-primary-dark: #000 !default;
$color-error: rgb(255,200,155) !default;
$color-success: #60a060 !default;

$color-link: $litium-blue_link !default;
$solution-body-bg-color: rgba(darken($litium-blue_link, 10%),.8);

$color-grey-lightest: #f2f2f2 !default;
$color-grey-lighter: #eee !default;
$color-grey-light: #ddd !default;
$color-grey: #ccc !default;
$color-grey-dark: #bbb !default;
$color-grey-darker: #aaa !default;
$color-grey-darkest: #595959 !default;

$solution-color-purple-dark: #16071b;
$solution-color-purple-light: #7811c1;

// Top: Uncomment js-event scroll if you want to listen to if page has scrolled or not
// Useful when you want to change sticky header on scroll
$solution-use-sticky-header: true; 
$color-secondary: #ffc444 !default;
$solution-placeholder-bg: rgb(103, 103, 100);
$solution-placeholder-text-color: rgba(60, 60, 60, .7);
$solution-link-color: $litium-blue_link; // $color-grey-darkest;
$solution-link-color-hover: rgba(darken($litium-blue_link,10%),.8); //rgb(81,0,126);
$solution-page-link-color: rgba(225,225,225, .85);
$solution-color-text-highlight: rgba(255,196,68,.75);
$solution-page-link-color-hover: desaturate(lighten($solution-link-color-hover, 50%), .6); //rgba(255,255,255, .9);

$solution-line-color: rgba($color-grey-lightest, .2);
$solution-page-font-color: rgba(255,255,255, 1);
$solution-breadcrumb-font-color: rgba(255,255,255, 1);
$solution-border-color-solid: #706a89;
$solution-background: rgba(219,104,37,.75); //#170322;
$solution-background-transparent: rgba($solution-background,.3);
$solution-background-dark-transparent: rgba($solution-background,.8);
$solution-background-primary: $solution-background-transparent;
$solution-color-yellow: $color-secondary;
$solution-color: rgba($color-white, .7);
$solution-form-input-bg: rgba(255,255,255,.98);

$solution-megamenu-background-color: rgb(247, 136, 77, .98);

$solution-icon-color: $litium-blue1; //rgba($solution-link-color, .4);
$solution-icon-color-mobile: $litium-blue1; //rgba($solution-link-color, .6);
$solution-icon-hover-color: rgba($litium-blue1, .8); //rgba($solution-link-color-hover, .8); //rgba($solution-link-color, .9);

$color-text-primary: $solution-link-color;
$color-text-primary-light: $solution-link-color-hover;
$color-text-primary-highlight: lighten($solution-color-purple-light, 40%);

$solution-button-background-primary: rgba(132, 132, 25, 0.8);

$solution-button-primary-color: $litium-blue1; //rgb(164, 164, 73);

$header-bg-color-dark: #336655;
$header-bg-color-light: #fefeff;

/* Scrollbar */
$scrollbar-bg-color: rgb(35,182,183);
$scrollbar-bg-color-hover: $solution-background-transparent;

/* Font size */
$fontsize-tiny: 10px;
$fontsize-small: 12px;
$fontsize-normal: 14px;
$fontsize-large: 16px;
$fontsize-h4: 18px;
$fontsize-h3: 20px;
$fontsize-h2: 22px;
$fontsize-h1: 48px;

$fontsize-large-heading: 44px;
$fontsize-x-large-heading: 60px;


/* Breakpoints */
/*$mobile-width: 320px;
$large-mobile-width: 500px;
$tablet-width: 1024px;
$desktop-width: 1440px;*/
$mobile-small-width: map-get($breakpoints, small);
$mobile-width: map-get($breakpoints, small-medium); // OLD: 320px;
$large-mobile-width: map-get($breakpoints, medium);
$tablet-width: map-get($breakpoints, large); // OLD: 1024px;
$desktop-width: map-get($breakpoints, xxlarge); // OLD: 1440px;
$page-width: map-get($breakpoints, xlarge);
/* Navigation bar */
$navbar-width: 300px;



$header-background-color: rgb(222,222,222);
