.mixed-block {
    &__header {
        font-size: rem($fontsize-large);
        text-transform: uppercase;
        color: $solution-color;
        font-family: $font-family;
        font-weight: 400;
    }
}
