.quick-search-result {
    position: absolute;
    top: calc(100% + 2px);
    width: calc(100% - 24px);
    right: calc(12px);
    background-color: rgba($solution-color-purple-dark, .94);
    border: rem(1px) solid $solution-line-color;
    padding: 0;
    margin: 0;
    z-index: 1;
    max-height: 70vh;
    overflow: auto;
    @include border-radius(0, 0, rem(8px), rem(8px));

    @include mobile {
        background-color: rgba($solution-color-purple-dark, .98);
    }

    &__item {
        list-style: none;

        &--selected {
            background-color: $solution-color-text-highlight;
        }
    }

    &__link {
        padding: rem(5px 10px);
        display: flex;
        cursor: pointer;
        align-items: center;

        &:hover {
            background-color: rgba($solution-color-purple-light, .3);
        }

        &--disabled {
            pointer-events: none;
            color: $color-grey-dark;
        }
    }

    &__image {
        height: rem(30px);
        margin-right: rem(10px);
    }

    &__group-header {
        padding: rem(7.5px 10px);
        font-size: rem($fontsize-normal);
        font-weight: bold;
        margin-bottom: 0;
        text-transform: uppercase;
        color: $solution-color-text-highlight;
    }

    &__show-all {
        @include transition;
        background-color: rgba($solution-color-purple-light, .1);
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(10px 0);
        flex: 1;
        cursor: pointer;
        border-top: rem(1px) solid $solution-line-color;

        &:hover, &:focus, &:active {
            color: $color-white;
        }

        &:hover {
            background-color: rgba($solution-color-purple-light, .3);
        }
    }
}
