.subnav {
    margin-bottom: rem(16px);

    @include tablet{
        padding: rem(0 12px);
    }

    &--compact {
        padding: rem(0 20px 10px);
    }

    &__header {
        font-size: rem($fontsize-h4);
    }

    &__list {
        padding-left: rem(14px);
        margin: 0;
    }

    & > &__list {
        padding-left: 0;
    }

    &__link {
        padding: rem(4px 0);
        display: inline-block;
        font-size: rem($fontsize-small);
        font-family: "Roboto", sans-serif;
        font-weight: 300;
    }

    &__item {
        list-style: none;
    }

    &__item.active > &__link {
        font-weight: 400;
    }

    & > &__list > &__item > &__link {
        font-size: rem($fontsize-normal);
        display: inline-block;
    }

    & > &__list > &__item > &__list > &__item {
        > .subnav__link {
            line-height: 1;
            margin: 0;
        }

        &:last-child {
            margin-bottom: rem(8px);
        }
    }
}
