$pn-navbar-link-hover-border-bottom-color: $solution-border-color-solid;
$pn-header-background: transparent; //$color-secondary; // none; 222, 250
$pn-header-shadow-color: $color-primary;
$pn-header-border-bottom: 1px solid $pn-navbar-link-hover-border-bottom-color;
$pn-header-logo-padding: 20px 16px;
$pn-header-logo-desktop-height: 66px;
$pn-header-height: 128px;
$pn-header-mobile-height: 134px;
$pn-header-components-height: 54px;
$pn-header-components-size: 14px;
$pn-header-components-color: $solution-link-color;
$pn-header-components-hover-color: $solution-link-color-hover;
$pn-header-components-icon-size: 20px;
$pn-header-components-transform: none; // uppercase; // none;

$pn-navbar-link-size: 16px;
$pn-navbar-link-padding: 6px 24px;
$pn-navbar-link-tablet-padding: 6px 12px;
$pn-navbar-link-color: $solution-link-color;
$pn-navbar-link-hover-color: $solution-link-color-hover;
$pn-navbar-link-hover-background: transparent;
$pn-navbar-transform: none; // uppercase; // none;

$pn-search-border: 3px solid rgba($color-white, .4);
$pn-search-height: 46px;
$pn-search-border-radius: $pn-search-height / 2;
$pn-search-background: transparent;
$pn-search-color: #fff;
$pn-search-margin: 8px 0 6px 0;

$pn-megamenu-font-size: 14px;
$pn-megamenu-font-color: $solution-link-color;
$pn-megamenu-font-color-hover: $solution-link-color-hover;
$pn-megamenu-background-angle: 50;
$pn-megamenu-background-color-start: rgba(5,0,0,.95);
//$pn-megamenu-background-color-start: rgba($pn-megamenu-background-color-start, .99);
$pn-megamenu-background-color-end: rgba(10,0,30,.97); //lighten($color-secondary, 40%);
//$pn-megamenu-background-color-end: rgba($pn-megamenu-background-color-end, .98);

.pn-header {
    @include transition;
    position: relative;
    z-index: 10;
    //@include gradient($pn-megamenu-background-angle, darken( $pn-header-background, 8%), $pn-header-background);

    border-bottom: $pn-header-border-bottom;
    background: $pn-header-background;
    //@include box-shadow(0, 0, 12px, 0, rgba($pn-header-shadow-color, .2));
    @include animation(0, 1.5s, fade-in, ease-in-out);

    &__row {
        @include tablet-desktop {
            height: rem($pn-header-height);
        }

        &, > .row {
            max-width: none;
            width: 100%;
        }
    }

    &__powered-by-litium {
        min-height: rem(24px);
    }

    .pn-icon {
        &__powered-by {
            opacity: 0;
            margin-right: rem(8px);
        }

        &__litium {
            opacity: 0;
        }
    }

    .header {
        &__logo {
            padding: rem($pn-header-logo-padding);

            @include tablet-desktop {
                height: rem($pn-header-logo-desktop-height);
                position: relative;

                img {
                    @include transition;
                    max-height: 8rem;
                    margin: 0 0 auto;
                    position: absolute;
                    top: rem(-1px);
                }

                &:hover {
                    img {
                        @include scale(1.1, 1);
                    }
                }
            }

            &-mobile {
                @include transition;

                @include tablet-desktop {
                    display: none;
                }
            }
        }
    }

    &__center-container {
        width: 100%;
        max-width: 400px;
        display: inline-block;
        margin: rem(8px 0 0 0);
        z-index: 100;
        position: relative;
    }

    &__components {
        @include transition;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: rem(20px);

        .top-link, .profile, .cart {
            &__link--block {
                @include transition;
                font-size: rem($pn-header-components-size);
                height: rem($pn-header-components-height);
                text-transform: $pn-header-components-transform;
                color: $pn-header-components-color;

                &:hover {
                    background: $pn-navbar-link-hover-background;
                    color: $pn-header-components-hover-color;
                }
            }

            &__icon {
                width: rem($pn-header-components-icon-size) !important;
                height: rem($pn-header-components-icon-size) !important;
            }

            &__title {
                text-transform: $pn-header-components-transform;
            }

            .pn-icon__account, .pn-icon__cart {
                margin-right: rem(8px);
                @include transition;
                fill: rgba($solution-link-color, .4);
                //@include rotate(90);

                @include mobile {
                    fill: rgba($solution-link-color, .6);
                }
            }

            &:hover {
                .pn-icon__account, .pn-icon__cart {
                    fill: rgba($solution-link-color, .8);
                }
            }
        }

        .cart {
            &--mini .cart__quantity {
                background: none;
                top: rem(-15px);
                left: rem(18px);
                @include transition;
                color: rgba($solution-link-color, .8);
            }

            &:hover {
                .cart {
                    &--mini .cart__quantity {
                        color: rgba($solution-link-color, .98);
                    }
                }
            }

            &__icon-wrapper {
                position: relative;
            }
        }

        margin-top: rem(10px);

        @include mobile {
            margin-top: 0;
        }
    }

    .quick-search {
        margin: rem($pn-search-margin);
        width: 100%;

        &__form {
            height: rem($pn-search-height);
            position: relative;
            top: 0;
            right: 0;
            @include border-radius(44px);
            border: $pn-search-border;
            width: 100%;
            z-index: 9;
        }

        &__submit-button {
            height: 100%;
            padding-right: rem(16px);
            background: $pn-search-background;

            .pn-icon__search {
                @include transition;
                fill: rgba($solution-link-color, .4);
                //@include rotate(90);
            }

            &:hover {
                .pn-icon__search {
                    fill: rgba($solution-link-color, .8);
                }
            }

            @include border-radius(0, 44px, 44px, 0);
        }

        &__input {
            background: $pn-search-background;
            color: $pn-search-color;
            line-height: rem($pn-search-height);
            @include border-radius(44px, 0, 0, 44px);
        }

        @include tablet-desktop {
            &__form {
                &--active {
                    input {
                        @include border-radius(16px, 0, 0, 0);
                    }

                    button {
                        @include border-radius(0, 16px, 0, 0);
                    }
                }
            }
        }

        &-result {
            @include box-shadow(8px, 0, 16px, 0, rgba($pn-header-shadow-color, .2));

            &__item {
                &--show-all {
                    position: sticky;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }

        @include mobile {
            background-color: $solution-background-primary;
            border-top: 1px solid rgba($solution-line-color, .4);
            border-bottom: 1px solid rgba($solution-line-color, .1);

            &__submit-icon {
            }

            &:hover {
                opacity: .8;

                .quick-search__submit-icon {
                    opacity: 1;
                }
            }

            &__submit {
                &-icon {
                    display: block;
                    opacity: .7;

                    @include rotate(90);
                    float: right;
                    opacity: .5;
                }
            }
        }
    }

    .navbar {
        width: 100%;
        min-height: 0;

        &__wrapper {
            margin: 0;
            padding: 0;
            height: 100%;

            @include tablet-desktop {
                height: rem(40px);
            }
        }

        > .navbar__menu {
            display: inline-block;

            @nclude tablet-desktop {
                width: auto;
            }

            margin: 0 auto;

            > .navbar__menu-links {
                > .navbar__item {
                    > .navbar__link {
                        position: relative;
                        font-size: rem($pn-navbar-link-size);
                        padding: rem($pn-navbar-link-padding);
                        text-transform: $pn-navbar-transform;
                        color: $pn-navbar-link-color;

                        &--selected {
                            background: transparent;
                        }

                        @include tablet {
                            padding: rem($pn-navbar-link-tablet-padding);
                        }

                        @include mobile-tablet {
                            font-size: rem($pn-navbar-link-size - 2px);
                        }

                        @include mobile {
                            margin: 0;
                            text-align: left;
                            align-items: center;
                            padding-top: rem(10px);
                            font-weight: 500;

                            @include border-radius(0);
                        }

                        &:after {
                            background-color: $pn-navbar-link-hover-border-bottom-color;
                            bottom: rem(0px);
                        }
                    }

                    @include mobile {
                        display: flex;
                        height: rem($pn-search-height);
                        align-items: center;
                    }

                    &:hover {
                        &, > .navbar__link {
                            background: $pn-navbar-link-hover-background;
                            color: $pn-navbar-link-hover-color;

                            &:after {
                                background-color: $pn-navbar-link-hover-border-bottom-color;
                                height: rem(3px);
                            }
                        }
                    }
                    // MEGA MENU
                    > .navbar__menu {
                        @include box-shadow(5px, 0, 32px, 0, rgba($pn-header-shadow-color, .9));
                        @include gradient($pn-megamenu-background-angle, $pn-megamenu-background-color-start, $pn-megamenu-background-color-end);
                        border: none;
                        padding-top: 0;
                        z-index: 99;

                        @include tablet-desktop {
                            border-top: 2px solid $pn-navbar-link-hover-border-bottom-color;
                            border-bottom: $pn-header-border-bottom;

                            & > .navbar__menu-links {
                                display: grid;
                                gap: rem(12px);
                                grid-template-columns: auto auto auto auto auto;

                                > .navbar__item {
                                    margin: rem(16px 0 0 0);
                                }
                            }
                        }

                        @include desktop {
                            margin-top: 0; //rem(-3px);
                        }

                        @include tablet {
                            margin-top: rem(-1px);
                        }

                        & > .navbar__menu-links {
                            $site-gutter: $gutter-large * 2;

                            max-width: $page-width - $site-gutter;
                            margin: 0 auto;

                            @include mobile-tablet {
                                grid-template-columns: auto auto auto;
                            }

                            > .navbar__item {
                                line-height: 1.1;

                                a {
                                    display: inline-block;
                                    font-size: rem($pn-megamenu-font-size);
                                    color: $pn-megamenu-font-color;
                                    font-weight: 600;
                                    width: 100%;
                                    text-align: left;
                                    text-transform: none;

                                    &:hover {
                                        color: $pn-megamenu-font-color-hover;
                                    }
                                }

                                .navbar__menu {
                                    li a {
                                        font-weight: 400;
                                    }
                                }

                                > .navbar__menu > .navbar__menu-links {
                                    justify-content: start;

                                    & > .navbar__item {
                                        margin-top: 0;
                                        line-height: 1.1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include mobile {
        min-height: rem($pn-header-mobile-height);
        padding-bottom: ($pn-search-height);
        position: relative;

        &__row {
            > .columns {
                padding: 0;
            }
        }

        &__center-container {
            max-width: rem(226px);
            margin: 0;
            position: static;
        }

        &__components {
            position: absolute;
            top: rem(16px);
            right: rem(6px);
            z-index: 10;

            .top-link, .profile, .cart {
                &__link--block {
                    padding: rem(0 10px);
                    height: 44px;
                }
            }
        }

        &__powered-by-litium {
            position: absolute;
            right: rem(10px);
            top: rem( 60px);
            opacity: .3;

            @include mobile {
                opacity: .5;
            }
        }

        #quickSearch {
            margin: 0;
            position: absolute;
            bottom: rem(-1px);
            left: 0;
            right: auto;
            width: 100%;
        }

        .quick-search {
            padding: 0;
            margin: 0;

            &__form {
                left: 0;
                right: auto;
                margin: 0;
                padding: 0;
                @include border-radius(0);
                display: flex;
                border: none;
                background: none;
            }

            &__submit {
                &-button {
                    @include border-radius(0);
                    padding: rem(0 0 0 32px);
                }

                &-title {
                    display: none;
                }
            }

            &__input {
                @include border-radius(0);
                padding-left: rem(20px);
                padding-top: 0;
                padding-bottom: 0;
                line-height: 100%;
            }
        }

        .header {
            &__logo {
                @include transition;
                max-width: rem(226px);
                padding: 0;
                margin: 0;
                display: none;

                &-mobile {
                    @include transition;

                    img {
                        max-width: rem(200px);
                    }
                }
            }
        }

        .navbar {
            &__wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: rem(64px);
                z-index: 10;
            }

            .navbar__icon {
                &.navbar__link--block {
                    padding: rem(18px 7px 4px 7px);
                }

                padding: rem(10px);
            }
        }

        .quick-search {
            .quick-search {
                &__link--block {
                    display: none;
                }
            }
        }

        &__link {
            &--block {
                padding: 0;
            }
        }

        .cart {
            &__info {
                min-width: 300px;
                right: rem(-6px);
            }
        }
    }

    @include mobile-small {
        .header__logo {
            &-mobile {
                position: absolute;
                left: rem(62px);
                top: 0;

                img {
                    width: rem(200px);
                }
            }
        }
    }

    @media (max-width: 363px) {
        .header__logo {
            &-mobile {
                left: rem(62px);

                img {
                    width: 50vw;
                }
            }
        }
    }

    @include mobile-mini {
        .header__logo {
            &-mobile {
                left: 4px;
                z-index: -1;
                opacity: .2;
                top: rem(-18px);

                img {
                    width: 100vw;
                    max-width: none;
                }
            }
        }
    }
}
