@using PandoNexis.AddOns.Extensions.PNGenericGridView.ViewModels

@model PandoNexis.AddOns.Extensions.PNGenericGridView.ViewModels.GenericGridViewModel

@foreach (var source in Model.DataSources)
{
    if (source == "ArticleRelation")
    {
        <div class="article-relation__button-add" id="articleRelationAddButton"></div>
    }

 @*   if (Model.EnableFieldConfigurator)
    {
        <div class="field-configuration-container" data-field-configuration="@source"></div>
    }*@

    if (Model.EnableDropZone)
    {
        <div class="dropzone-container" data-dropzone="@source"></div>
        <div class="orderscanning-container" data-orderscanning=""></div>
    }
    <div class="generic-grid-view-container" data-grid-view="@source"></div>
}
