.column-block {
    padding: 2rem 0;

    .row {
        display: grid;
        padding: 1rem;
    }

    &__subtitle {
        /*font-weight: $font-weight-extra-bold;*/
        /*font-size: $fontsize-sub-text;*/
        color: $color-primary;
        text-transform: uppercase;
    }

    &__title {
        /*font-weight: $font-weight-normal;*/
        font-size: $fontsize-h2;
        color: $color-primary;
        padding-bottom: 1rem;
    }

    &__text-wrapper {
        display: flex;
        gap: 1rem;
        padding-bottom: rem(90px);

        @media (max-width: $large-mobile-width) {
            display: grid;
            gap: 0;
            padding-bottom: rem(20px);
        }
    }

    &__text {
       /* font-weight: $font-weight-bold;*/
        font-size: $fontsize-normal;
        color: $color-black;
    }

    &__items {
        display: flex;
        gap: rem(20px);
        padding-bottom: rem(70px);
        justify-content: flex-start;

        @media (max-width: 850px) {
            display: grid;
            grid-template-columns: auto auto;
            padding-bottom: rem(20px);
        }

        @media (max-width: $large-mobile-width) {
            grid-template-columns: auto;
        }
    }

    &__item-row {
        max-width: rem(280px);
        width: 25%;

        @media (max-width: 850px) {
            max-width: none;
            width: 100%;
        }

        &__header-wrapper {
            display: flex;
            gap: 1rem;
            padding-bottom: rem(24px);
            align-items: center;
        }

        &__title {
            /*font-weight: $font-weight-extra-bold;*/
            /*font-size: $fontsize-sub-text;*/
            color: $color-primary;
            text-transform: uppercase;
            word-break: break-word;
            padding-right: 1rem;
        }

        &__text {
            /*font-size: $fontsize-sub-text;*/
            /*font-weight: $font-weight-bold;*/
        }

        &__image-wrapper {
            width: rem(69px);
            height: rem(69px);
        }
    }

    &__summary {
        display: flex;
        background-color: $color-primary;
        padding: rem(40px) 0;
        justify-content: space-between;

        .row {
            max-width: 75.5rem;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &__text {
            color: $color-white;
            line-height: 1.7;

            li {
                list-style-type: disc;
                margin-left: 1rem;
                /*font-weight: $font-weight-black;*/
            }

            p {
               /* font-size: $fontsize-sub-text;
                font-weight: $font-weight-bold;*/
            }

            h1,
            h2,
            h3 {
                /*font-weight: $font-weight-normal;*/
            }
        }

        &__button-subtext-wrapper {
            display: grid;
            padding-top: 1rem;
            align-items: inherit;
            justify-content: center;
            gap: 1rem;
        }

        &__subtext {
            color: $color-white;
           /* font-weight: $font-weight-black;
            font-size: $fontsize-base;*/
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .primaryCTA {
                min-width: rem(212px);
                width: auto;
                height: rem(44px);
                border-radius: rem(50px);
                border: 2px solid $color-primary;
                color: $color-primary;
                padding: 0.5rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                /*font-weight: $font-weight-bold;*/
                background-color: $color-white;
            }

            .secondaryCTA {
                min-width: rem(212px);
                width: auto;
                height: rem(44px);
                border-radius: rem(50px);
                padding: 0.5rem 1rem;
                color: $color-white;
                display: flex;
                justify-content: center;
                align-items: center;
                /*font-weight: $font-weight-bold;*/
            }

            .thirdCTA {
                min-width: rem(212px);
                width: auto;
                height: rem(44px);
                border-radius: rem(50px);
                border: 2px solid $color-white;
                padding: 0.5rem 1rem;
                color: $color-white;
                display: flex;
                justify-content: center;
                align-items: center;
                /*font-weight: $font-weight-bold;*/
            }
        }
    }
}
