.image-stats-block {
    background-color: $solution-background-transparent;
    height: rem(450px);
    margin: 2rem 0;

    > .row {
        max-width: none;
    }

    @include mobile-small {
        height: auto;
    }

    .columns {
        display: flex;
        padding: 0;

        @include mobile-small {
            display: grid;
        }
    }

    &__image-title-wrapper {
        height: rem(450px);

        &__text-holder {
            position: absolute;
            max-width: 30%;
            padding-top: rem(100px);
            left: 8%;

            @include mobile {
                left: 5%;
                padding-top: rem(32px);
                font-size: rem(16px);
            }

            @include mobile-small {
                font-size: rem(14px);
                max-width: none;
            }
        }

        &__title {
            line-height: rem(50px);
            color: $color-white;
            text-transform: uppercase;
            letter-spacing: 0.06em;

            @include mobile {
                line-height: 1.2;
            }
        }

        &__title-alt-color {
            line-height: rem(50px);
            text-transform: uppercase;
            letter-spacing: 0.06em;
        }

        @include mobile {
            &__text-holder {
                left: 5%;
                padding-top: rem(32px);
                font-size: rem(16px);
            }

            &__title {
                line-height: 1.4;
            }

            &__title-alt-color {
                line-height: 2;
            }

            &__title, &__title-alt-color {
                font-size: rem(18px);
            }
        }

        @include mobile-small {
            &__text-holder {
                font-size: rem(24px);
                max-width: none;
            }

            &__title, &__title-alt-color {
                font-size: rem(24px);
            }
        }



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__items-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        background-color: $solution-background-transparent;
        padding: rem(64px 32px);
        gap: rem(0 100px);
        width: 100%;

        @include mobile {
            padding: rem(32px);
            grid-template-columns: auto;
            gap: rem(0 50px);
        }

        @include mobile-small {
            gap: rem(20px 0);
            width: 100%;
        }

        @media (max-width: $large-mobile-width) {
        }

        &__items {
            max-width: rem(350px);
            font-size: rem(22px);

            &__text-highlight {
                color: rgba($block-background2, .75);
                font-weight: $font-weight-extra-bold;
                line-height: 1.2;

                > * {
                    margin: 0;
                }
            }

            &__text {
                color: $color-white;
                line-height: 2.2;
            }

            @include mobile {
                font-size: rem(16px);

                &__text-highlight {
                    font-size: rem(16px);
                    line-height: normal;
                }

                &__text {
                    & > * {
                        margin: 0;
                    }
                }
            }

            @include mobile-small {
                &__text-highlight {
                    font-size: rem(24px);
                }
            }
        }
    }
}
