.image-stats-block {
    display: flex;
    background-color: $solution-background-transparent;
    height: rem(450px);
    margin: 2rem 0;

    @media (max-width: 650px) {
        height: auto;
    }

    .columns {
        display: flex;
        padding: 0;

        @media (max-width: 650px) {
            display: grid;
        }
    }

    &__image-title-wrapper {
        width: 50%;

        @media (max-width: 650px) {
            width: 100%;
        }

        &__text-holder {
            position: absolute;
            max-width: 30%;
            padding-top: 4rem;
            left: 8%;

            @media (max-width: 800px) {
                left: 5%;
                padding-top: 2rem;
            }

            @media (max-width: 650px) {
                max-width: none;
            }
        }

        &__title {
            /* font-weight: $font-weight-extra-black;
            font-size: $fontsize-large-heading;*/
            line-height: rem(50px);
            color: $color-white;
            text-transform: uppercase;
            letter-spacing: 0.06em;

            @media (max-width: 800px) {
                /*font-size: $fontsize-large;*/
            }
        }

        &__title-alt-color {
            /*color: $color-accent;*/
            /*          font-weight: $font-weight-extra-black;
            font-size: $fontsize-large-heading;*/
            line-height: rem(50px);
            text-transform: uppercase;
            letter-spacing: 0.06em;

            @media (max-width: 800px) {
                /*font-size: $fontsize-large;*/
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__items-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: $color-primary;
        padding: 2rem;
        gap: rem(36px);

        @media (max-width: 800px) {
            gap: 1rem;
        }

        @media (max-width: 650px) {
            width: 100%;
        }

        @media (max-width: $large-mobile-width) {
            grid-template-columns: auto;
        }

        &__items {
            max-width: rem(250px);

            &__text-highlight {
                color: $color-white;
                font-weight: $font-weight-extra-bold;
                line-height: rem(70px);
                /*font-size: $fontsize-x-large-heading;*/

                @media (max-width: 800px) {
                    font-size: $fontsize-large;
                }
            }

            &__text {
                color: $color-white;
                /*font-size: $fontsize-base;*/
                /*font-weight: $font-weight-black;*/
            }
        }
    }
}
