.pagination {
    text-align: center;
    font-size: 0;
    background-color: transparent;
    padding: rem(10px 0);

    &__item {
        display: inline-block;
        font-size: rem($fontsize-large);
        margin: rem(0 5px);

        @include large-mobile {
            margin: rem(0 1px);
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(30px);
        height: rem(30px);
        padding: rem(11px);
        background-color: rgba($color-black-light, .3);
        @include box-shadow(0, 0, 1px,0, rgba($general-shadow-color, .5));
        @include textoverflow();
        @include transition(background-color);

        @include large-mobile {
            width: rem(30px);
            height: rem(30px);
        }

        &:hover {
            background-color: rgba($color-grey-lightest, .1);
        }

        &--current {
            &,
            &:active,
            &:focus,
            &:hover {
                color: $color-white;
                background-color: rgba($color-grey-lightest, .3);
            }
        }

        &--disabled {
            pointer-events: none;
            background-color: transparent;
        }
    }
}
