/*.main-content {
    &:after {
        content: '';
        position: absolute;
        right: 50px;
        top: 220px;
        width: 300px;
        height: 44px;
        background-size: contain;
        background-position: center center;
        @include icon-pn--powered-by;
    }
}
*/
.main-content {
    position: relative;
    z-index: 2;
}
footer.footer {
    position: relative;
    z-index: 2;
}
.pn-main-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    @include animation(1s, 3.4s, fade-in-background, ease-in-out);
    //@include animation(1s, 3.4s, fade-in-blurry-background, ease-in-out);
    padding: 0 !important;
    margin: 0 !important;
    background: black;
    background: $solution-background !important;
    pointer-events: none;

    .vanta-canvas {
        position: absolute;
        width: 100%;
        height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        z-index: -1;
        background: $solution-background !important;
        pointer-events: none;
    }

    &__container {
        width: 100%;
        height: 100%;
    }

    &__overlay {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 400px;
        pointer-events: none;

        @include gradient(90, rgba(0,0,0, .0), rgba(0,0,0, .7), 0, 80%);
    }
}

.session {
    &__init{

    }
}
