.breadcrumbs-container {
    &--hide-on-mobile {
        @include mobile {
            display: none;
        }
    }
}

.breadcrumbs {
    margin: rem(0 0 8px 0);
    padding: rem(9px 18px);
    font-weight: 400;
    font-size: rem(13px);
    line-height: rem(13px);

    &__link {
        @include transition;
        display: inline-block;
        color: rgba($solution-link-color, .7);

        &:hover {
            text-decoration: underline;
            color: $solution-link-color-hover;
        }
    }

    &__item {
        list-style: none;
        display: inline-block;

        &:not(:last-of-type):after {
            content: '/';
            margin: 0 10px;
            color: $solution-link-color;
        }

        &:last-of-type .breadcrumbs__link {
            pointer-events: none;
            cursor: default;
            color: rgba($solution-link-color, .8);
        }

        &--disabled .breadcrumbs__link {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}
