@import '../PandoNexisAcc/fonts';
$rem-fallback: true; // used in sass-rem
@import 'sass-rem';

$global-flexbox: true;
$fa-font-path: '~font-awesome/fonts'; // used in font-awesome

$font-family: Lato, Helvetica, Roboto, Arial, sans-serif;
$body-font-family: $font-family;
$header-font-family: $font-family;

$body-background-color: #170322;
$body-background: $body-background-color;

@import 'foundation-zurb-settings';
@import '~foundation-sites/scss/foundation';

//below includes may be extracted to foundation.scss to reduce unused css

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-visibility-classes;

@include foundation-forms;
@include foundation-button;