<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<aspNetCore processPath="bin\Debug\net6.0\Litium.Accelerator.Mvc.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
					<!-- **************** Web Deployment ***************** -->
					<!-- Bygg I production-läge samt ändra Web.config till detta -->
					<!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />-->
					<!-- Bygg I release-läge samt ändra Web.config till detta -->
					<!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />-->
					<!-- **************** Development ***************** -->
					<!-- Development: Bygg I debug-läge samt ändra Web.config till detta -->
					<!--<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />-->
					<environmentVariable name="ASPNETCORE_ENVIRONMENT"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="Staging"/>
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>