body {
    background-image: url('../../../images/pandoNexis/pando_nexis_bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $solution-background;
    @include scrollbar__general;
}
