$solution-color-yellow: #ffc444;
$solution-color-white: #d7cdc3;
$solution-color-beige: #dfe0e4;

$block-background1: transparent;
$block-background2: $solution-color-yellow;
$block-background3: $solution-color-beige;
